/** @format */

@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Hind:wght@300&family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
  --first-color: #144a85;
  --first-color-light: #6c8aaf;
  --green-color: #25cc88;
  --red-color: #000;
  --sand-tan: #e1b382;
  --dark-color: #444a4a;
  --olive: #a3bcb6;
  --white-color: #f7f6fb;
  --second-blue: #04042c;
  --primary-font: "Gelasio", serif;
  --normal-font: "Titillium Web", sans-serif;
  --lato-family: "Lato", sans-serif;
  --third-font: "Hind", sans-serif;
  --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(119, 117, 117, 0.2),
    0 1px 5px 0 rgba(128, 125, 125, 0.12);
}

.btn {
  width: 150px;
  background-color: var(--candy-red);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--red-color);
  color: #fff;
}

.image {
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 200px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  color: #8d8d8d;
}
.btn.transparent:hover {
  color: #fff;
}

.n-login {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#n-left {
  background: var(--second-blue);
  min-height: 100vh;
}

#n-right1 {
  background: url(../img/bg/4.png);
}

.n-icon {
  margin-top: 75px;
}

.brand {
  margin-top: 10px;
}

.brand h2 {
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  line-height: 50px;
  font-family: var(--lato-family);
}

.br-brand {
  font-weight: bold;
  color: #cfcfcf;
}

.l-text {
  margin-top: 20px;
  padding: 10px;
}

.l-text p {
  font-family: var(--lato-family);
  padding: 10px;
  font-size: 14px;
  align-items: flex-end;
  color: rgb(255, 255, 255);
}

.l-image img {
  max-width: 200px;
  height: 200px;
}

@media screen and (min-width: 1400px) {
  .l-image img {
    max-width: 400px;
  }
}

.logo {
  margin-top: 40px;
}

.logo img {
  width: 120px;
  height: auto;
}

.form-text {
  margin-top: 70px;
  margin-left: 85px;
}

.form-text h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  color: var(--primary-color);
  line-height: 40px;
  text-transform: uppercase;
}

.form-text p {
  font-family: var(--lato-family);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #17171f;
  line-height: 24px;
}

.l-form {
  margin-top: 10px;
  margin-left: 85px;
  padding-right: 50px;
}

label {
  font-family: var(--lato-family);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #60606a;
}

.form-control,
.form-control:focus,
.input-group-addon {
  border-color: var(--green-color);
  border-radius: 0;
}

.login-form .form-group {
  margin-bottom: 40px;
}

.login-form label {
  font-weight: normal;
  font-size: 13px;
}

.login-form .form-control {
  min-height: 38px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
  background-color: whitesmoke;
}
button:hover .submit-icon {
  transform: translateX(10px);
}
.login-form .fa {
  font-size: 21px;
  position: relative;
  top: 8px;
}
.download-icon {
  transition: transform 0.2s ease-in-out;
}

.download-icon:hover {
  transform: rotate(180deg);
}

.login-form .fa-paper-plane {
  font-size: 17px;
}

.login-form .fa-check {
  color: #fff;
  left: 9px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}

#re-div {
  border: 1px solid var(--green-color);
  overflow: visible;
  text-align: center;
  opacity: 1;
  margin-right: 35%;
  margin-left: 35%;
}

#re-div:after {
  background: whitesmoke;
  font-family: var(--normal-font);
  font-weight: 400;
  font-size: 12px;
  content: "OR";
  padding: 0 10px;
  position: relative;
  top: -13px;
  color: #60606a;
  opacity: 1;
}

#auth1 {
  background: var(--green-color);
  font-family: var(--normal-font);
  color: white;
  border-radius: 4px;
}

#auth1:hover {
  background: #e1b382;
}

#auth2 {
  background: var(--olive);
  font-family: var(--normal-font);
  color: white;
  border-radius: 4px;
}

#auth2:hover {
  background: #6c8aaf;
}

.f-text {
  position: fixed;
  width: auto;
  bottom: 0;
  padding: 10px;
}

.f-text p {
  font-size: 1rem;
  color: white;
  text-shadow: 0 1px 0 var(--first-color);
  font-family: var(--primary-font);
}

.button-88 {
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
  display: block;
  border: 0px;
  font-family: var(--lato-family);
  box-shadow: 0px 0px 14px -7px #444342;
  background-image: linear-gradient(
    45deg,
    #ad622d 0%,
    #0f0f0f 51%,
    #161616 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-88:active {
  transform: scale(0.95);
}

.text-200 a {
  color: var(--dark-color);
  text-decoration: none;
}

.text-200 a:hover {
  color: var(--red-color);
  text-decoration: none;
}
.rotate-image {
  animation: rotate 2s linear 4s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
