/** @format */

@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Titillium+Web:wght@200&display=swap");

:root {
  --header-height: 3rem;
  --nav-width: 76px;
  --first-color: #144a85;
  --first-color-light: #6c8aaf;
  --green-color: #25cc88;
  --red-color: #e51e25;
  --sand-tan: #e1b382;
  --dark-color: #444a4a;
  --olive: #a3bcb6;
  --white-color: #f7f6fb;
  --normal-font-size: 1rem;
  --z-fixed: 100;
  --primary-font: "Gelasio", serif;
  --normal-font: "Titillium Web", sans-serif;
}

body {
  background: #181824;
  scroll-behavior: smooth;
  height: auto;
}
.hiddenInput {
  display: none !important;
}
/* Alerts */
.alert-warn {
  background: var(--red-color);
  border-color: var(--red-color);
  color: white;
}

.alert-success {
  background: #134326;
  border-color: #134326;
  color: white;
}

.a-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.a-icon i {
  font-size: 2rem;
}

/* details */
#regForm {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
}

h1 {
  text-align: left;
  font-family: var(--primary-font);
  font-size: 1rem;
}

.w-name {
  font-family: var(--primary-font);
  color: var(--green-color);
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: var(--normal-font);
  border: 1px solid var(--dark-color);
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: var(--first-color);
  color: #ffffff;
  font-family: var(--normal-font);
  border: 1px solid var(--first-color);
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 40px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: var(--sand-tan);
  font-family: var(--normal-font);
  color: #000;
}

.myForm {
  background: white;
  padding: 1rem;
}

.general-bg {
  min-height: 100vh;
  background: url(../img/bg/4.png);
  background-attachment: fixed;
}

.form-label {
  padding-top: calc(0.94rem + 1px);
  padding-bottom: calc(0.94rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  font-family: var(--primary-font);
  line-height: 1;
  color: #000;
}

.form-control,
.form-select {
  color: #3f3f3f;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #28a745;
  border-radius: 0;
  font-family: var(--primary-font);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.profileNav {
  background: whitesmoke;
  padding: 1.4rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.profileNav li {
  padding: 0rem 1rem 0rem 1rem;
  text-decoration: none;
  cursor: pointer;
  color: var(--first-color);
}

.profileNav li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.profileNav .active a {
  color: white;
}

.profileNav .active {
  background: var(--first-color);
  padding: 2px 12px 2px 12px;
  border-radius: 15px;
}

.profTabs {
  background: whitesmoke;
}

.usercard {
  background: white;
  border-radius: 5px;
}

.usercard .userImg {
  padding: 1rem 0rem 1rem 0rem;
}

.usercard .userImg img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.usercard h5 {
  color: #000;
}

.usercard h6 {
  color: #222;
  display: inline-block;
  font-family: var(--normal-font);
  margin-top: 1rem;
  font-weight: 900;
}

.usercard span {
  float: right;
  color: #144a85;
  margin-top: 1rem;
}

.accordion {
  margin: 10px 0;
}

.accordion .item {
  border: none;
  margin-bottom: 10px;
  background: none;
}

.t-p {
  color: rgb(193 206 216);
  padding: 40px 30px 0px 30px;
}

.accordion .item .item-header h2 button.btn.btn-link {
  background: var(--first-color);
  color: white;
  border-radius: 0px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
  text-decoration: none;
}

.accordion .item .item-header {
  border-bottom: none;
  background: transparent;
  padding: 0px;
  margin: 2px;
}

.accordion .item .item-header h2 button {
  color: white;
  font-size: 20px;
  padding: 15px;
  display: block;
  width: 100%;
  text-align: left;
}

.accordion .item .item-header h2 i {
  float: right;
  font-size: 30px;
  color: white;
  background-color: #1b693a;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

button.btn.btn-link.collapsed i {
  transform: rotate(0deg);
}

button.btn.btn-link i {
  transform: rotate(180deg);
  transition: 0.5s;
}

@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400";

.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 30px;
  padding-bottom: 80px;
  padding-top: 2rem;
  width: 100%;
  height: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px;
}

.tabs input[name="tab-control"] {
  display: none;
}

.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 10%;
  padding: 0 10px;
  text-align: center;
}

.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #afae92;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabs ul li label br {
  display: none;
}

.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}

.tabs .content {
  margin-top: 30px;
}

.tabs .content section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.4;
}

.tabs .content section h2 {
  color: #428bff;
}

.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  color: #428bff;
}

.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label
  svg {
  fill: #428bff;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}

.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content
  > section:nth-child(1) {
  display: block;
}

.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  color: #428bff;
}

.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label
  svg {
  fill: #428bff;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}

.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content
  > section:nth-child(2) {
  display: block;
}

.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label {
  cursor: default;
  color: #428bff;
}

.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label
  svg {
  fill: #428bff;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}

.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .content
  > section:nth-child(3) {
  display: block;
}

.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: #428bff;
}

.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label
  svg {
  fill: #428bff;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}

.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .content
  > section:nth-child(4) {
  display: block;
}

/* start */
.tabs
  input[name="tab-control"]:nth-of-type(5):checked
  ~ ul
  > li:nth-child(5)
  > label {
  cursor: default;
  color: #428bff;
}

.tabs
  input[name="tab-control"]:nth-of-type(5):checked
  ~ ul
  > li:nth-child(5)
  > label
  svg {
  fill: #428bff;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(5):checked
    ~ ul
    > li:nth-child(5)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(5):checked ~ .slider {
  transform: translateX(300%);
}

.tabs
  input[name="tab-control"]:nth-of-type(5):checked
  ~ .content
  > section:nth-child(5) {
  display: block;
}
/* six */
.tabs
  input[name="tab-control"]:nth-of-type(6):checked
  ~ ul
  > li:nth-child(6)
  > label {
  cursor: default;
  color: #428bff;
}

.tabs
  input[name="tab-control"]:nth-of-type(6):checked
  ~ ul
  > li:nth-child(6)
  > label
  svg {
  fill: #428bff;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(6):checked
    ~ ul
    > li:nth-child(6)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(6):checked ~ .slider {
  transform: translateX(300%);
}

.tabs
  input[name="tab-control"]:nth-of-type(6):checked
  ~ .content
  > section:nth-child(6) {
  display: block;
}
/* seven */
.tabs
  input[name="tab-control"]:nth-of-type(7):checked
  ~ ul
  > li:nth-child(7)
  > label {
  cursor: default;
  color: #428bff;
}

.tabs
  input[name="tab-control"]:nth-of-type(7):checked
  ~ ul
  > li:nth-child(7)
  > label
  svg {
  fill: #428bff;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(7):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(7):checked ~ .slider {
  transform: translateX(300%);
}

.tabs
  input[name="tab-control"]:nth-of-type(7):checked
  ~ .content
  > section:nth-child(7) {
  display: block;
}
@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }

  .tabs ul li label br {
    display: initial;
  }

  .tabs ul li label svg {
    height: 1.5em;
  }
}

@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }

  .tabs ul li label span {
    display: none;
  }

  .tabs .slider {
    display: none;
  }

  .tabs .content {
    margin-top: 20px;
  }

  .tabs .content section h2 {
    display: block;
  }
}
.button-87 {
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    var(--first-color) 0%,
    var(--first-color-light) 51%,
    var(--first-color) 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}
