{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>
<section>
    <div class="content-wrapper general-bg" style="padding-bottom: 1rem ">
        {% include 'alerts.html' %}
        <div class="row">
            <div class="col-md-12">
                <script>
                    iziToast.show({
                        theme: 'dark',
                        icon: 'las la-bell',
                        title: 'Hello',
                        message: 'Update your profile information before applying for any of our Jobs',
                        position: 'topRight',
                        progressBarColor: 'rgb(0, 255, 184)',

                    });
                </script>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card text-white h-100 d-card"
                    style="background:linear-gradient(to right, #444a4a, #0275d8) !important; border: none;">
                    <div class="card-body">
                        <span>
                            <i class="las la-box-open fill-white" style="font-size:2rem;"></i>
                            <a href=""
                                style="float: right; color:rgb(255, 255, 255);font-weight: bold;  text-shadow: 0 1px 0 #0275d8;">View
                                <i class="las la-arrow-right"></i></a>
                        </span>
                        <h3 class="card-title mt-3 mb-0">{{count}}</h3>
                        <p class="card-text" style="text-shadow: 0 1px 0 #144a85;">Open Positions</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white  h-100 d-card"
                    style="background: linear-gradient(to right, #a86008, #c18b39) !important;border: none;">
                    <div class="card-body">
                        <span>
                            <i class="las la-lock fill-white" style="font-size:2rem;"></i>
                            <a href=""
                                style="float: right; color:white;font-weight: bold;  text-shadow: 0 1px 0 #5cb85c;">View
                                <i class="las la-arrow-right"></i></a>
                        </span>
                        <h3 class="card-title mt-3 mb-0">{{counter}}</h3>
                        <p class="card-text" style="text-shadow: 0 1px 0 black;">Submitted Applications</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="card" id="home">
                    <h4 class="mt-2 card-title text-dark ml-3">Open Jobs List</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th>Job Description</th>
                                    <th>Positions</th>
                                    <th>Appointment Type</th>
                                    <th>Priority</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in job %}
                                <tr>
                                    <td id="rap">{{res.Description}}</td>
                                    <td>{{res.Positions}}</td>
                                    <td>{{res.Appointment_Type}}</td>
                                    <td>{{res.Priority}}</td>
                                    <td>
                                        <a type="button" href="{% url 'jobDetail' res.Job_ID res.No_ %}"
                                            class="btn btn-success btn-icon-text" data-toggle="tooltip"
                                            data-placement="top" title="view" style="background: #25CC88;">View
                                            <i class="las la-external-link-alt" style="font-size: 1rem"></i>
                                        </a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}