{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>
<section>
    <div class="content-wrapper general-bg" style="padding-bottom: 1rem ">
        <div class="row">
            <div class="col-md-12">
                <button class="btn p-3 align-items-center text-white dateBtn" type="button"
                    style="display: inline-block;background: #144a85;">
                    <i class="mdi mdi-calendar mr-1"></i>{{today}}
                </button>
                <div class="toast show toast align-items-center text-white  border-0 homeToast" role="alert"
                    aria-live="assertive" aria-atomic="true"
                    style="margin-left: auto;margin-right:0;margin-top: -2.7rem;background: #144a85;">
                    <div class="toast-header">
                        <i class="las la-bell"></i>
                        <strong class="me-auto">Reminder</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Update your <a href="{% url 'profile' %}" class="text-warning">profile</a> information
                        before
                        applying for
                        any of our Jobs
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-6 my-2">
                <div class="card text-white h-100 d-card"
                    style="background:linear-gradient(to right, #444a4a, #0275d8) !important; border: none;">
                    <div class="card-body">
                        <span>
                            <i class="las la-box-open fill-white" style="font-size:2rem;"></i>
                            <a href=""
                                style="float: right; color:rgb(255, 255, 255);font-weight: bold;  text-shadow: 0 1px 0 #0275d8;">View
                                <i class="las la-arrow-right"></i></a>
                        </span>
                        <h3 class="card-title mt-3 mb-0">{{count}}</h3>
                        <p class="card-text" style="text-shadow: 0 1px 0 #144a85;">Open Vacancies</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="card text-white  h-100 d-card"
                    style="background: linear-gradient(to right, #a86008, #c18b39) !important;border: none;">
                    <div class="card-body">
                        <span>
                            <i class="las la-lock fill-white" style="font-size:2rem;"></i>
                            <a href=""
                                style="float: right; color:white;font-weight: bold;  text-shadow: 0 1px 0 #5cb85c;">View
                                <i class="las la-arrow-right"></i></a>
                        </span>
                        <h3 class="card-title mt-3 mb-0">{{counter}}</h3>
                        <p class="card-text" style="text-shadow: 0 1px 0 black;">Submitted Applications</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="card" id="home">
                <h4 class="mt-2 card-title text-dark">Open Jobs List</h4>
                <div class="card-body">
                    <table id="example" class="table table-striped table-bordered dt-responsive table-responsive-lg"
                        style="width:100%">
                        <thead>
                            <tr id="tops">
                                <th>Job Description</th>
                                <th>Positions</th>
                                <th>Appointment Type</th>
                                <th>Priority</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for res in job %}
                            <tr>
                                <td id="rap">{{res.Description}}</td>
                                <td>{{res.Positions}}</td>
                                <td>{{res.Appointment_Type}}</td>
                                <td>{{res.Priority}}</td>
                                <td>
                                    <a type="button" href="{% url 'jobDetail' res.Job_ID res.No_ %}"
                                        class="btn btn-success btn-icon-text" data-toggle="tooltip" data-placement="top"
                                        title="view" style="background: #25CC88;">View
                                        <i class="las la-external-link-alt" style="font-size: 1rem"></i>
                                    </a>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- <div class="row mb-2">
            <div id="pagination-container"></div>
        </div> -->
    </div>
    </div>
</section>
<script>
    var items = $(".postcard");
    var numItems = items.length;
    var perPage = 6;

    items.slice(perPage).hide();

    $("#pagination-container").pagination({
        items: numItems,
        itemsOnPage: perPage,
        prevText: "<<",
        nextText: ">>",
        onPageClick: function (pageNumber) {
            var showFrom = perPage * (pageNumber - 1);
            var showTo = showFrom + perPage;
            items.hide().slice(showFrom, showTo).show();
        }
    })
</script>


{% endblock %}