{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    @import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400';

    .tabs {
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        background: white;
        padding: 30px;
        padding-bottom: 80px;
        width: 100%;
        height: auto;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        border-radius: 5px;
        min-width: 240px;
    }

    .tabs input[name=tab-control] {
        display: none;
    }

    .tabs .content section h2,
    .tabs ul li label {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 15px;
        color: #428BFF;
    }

    .tabs ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .tabs ul li {
        box-sizing: border-box;
        flex: 1;
        width: 5%;
        padding: 0 10px;
        text-align: center;
    }

    .tabs ul li label {
        transition: all 0.3s ease-in-out;
        color: #929daf;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .tabs ul li label br {
        display: none;
    }


    .tabs ul li label:hover,
    .tabs ul li label:focus,
    .tabs ul li label:active {
        outline: 0;
        color: #bec5cf;
    }



    .tabs .slider {
        position: relative;
        width: 5%;
        transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    }

    .tabs .slider .indicator {
        position: relative;
        width: 70px;
        max-width: 100%;
        margin: 0 auto;
        height: 4px;
        background: #428BFF;
        border-radius: 1px;
    }

    .tabs .content {
        margin-top: 30px;
    }

    .tabs .content section {
        display: none;
        -webkit-animation-name: content;
        animation-name: content;
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        line-height: 1.4;
    }

    .tabs .content section h2 {
        color: #428BFF;
        display: none;
    }

    .tabs .content section h2::after {
        content: "";
        position: relative;
        display: block;
        width: 30px;
        height: 3px;
        background: #428BFF;
        margin-top: 5px;
        left: 1px;
    }

    .tabs input[name=tab-control]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
        cursor: default;
        color: #428BFF;
    }

    .tabs input[name=tab-control]:nth-of-type(1):checked~ul>li:nth-child(1)>label svg {
        fill: #428BFF;
    }

    @media (max-width: 600px) {
        .tabs input[name=tab-control]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
            background: rgba(0, 0, 0, 0.08);
        }
    }

    .tabs input[name=tab-control]:nth-of-type(1):checked~.slider {
        transform: translateX(0%);
    }

    .tabs input[name=tab-control]:nth-of-type(1):checked~.content>section:nth-child(1) {
        display: block;
    }

    .tabs input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
        cursor: default;
        color: #428BFF;
    }

    .tabs input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label svg {
        fill: #428BFF;
    }

    @media (max-width: 600px) {
        .tabs input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
            background: rgba(0, 0, 0, 0.08);
        }
    }

    .tabs input[name=tab-control]:nth-of-type(2):checked~.slider {
        transform: translateX(100%);
    }

    .tabs input[name=tab-control]:nth-of-type(2):checked~.content>section:nth-child(2) {
        display: block;
    }

    .tabs input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
        cursor: default;
        color: #428BFF;
    }

    .tabs input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label svg {
        fill: #428BFF;
    }

    @media (max-width: 600px) {
        .tabs input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
            background: rgba(0, 0, 0, 0.08);
        }
    }

    .tabs input[name=tab-control]:nth-of-type(3):checked~.slider {
        transform: translateX(200%);
    }

    .tabs input[name=tab-control]:nth-of-type(3):checked~.content>section:nth-child(3) {
        display: block;
    }

    .tabs input[name=tab-control]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
        cursor: default;
        color: #428BFF;
    }

    .tabs input[name=tab-control]:nth-of-type(4):checked~ul>li:nth-child(4)>label svg {
        fill: #428BFF;
    }

    @media (max-width: 600px) {
        .tabs input[name=tab-control]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
            background: rgba(0, 0, 0, 0.08);
        }
    }

    .tabs input[name=tab-control]:nth-of-type(4):checked~.slider {
        transform: translateX(300%);
    }

    .tabs input[name=tab-control]:nth-of-type(4):checked~.content>section:nth-child(4) {
        display: block;
    }

    @-webkit-keyframes content {
        from {
            opacity: 0;
            transform: translateY(5%);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    @keyframes content {
        from {
            opacity: 0;
            transform: translateY(5%);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    @media (max-width: 1000px) {
        .tabs ul li label {
            white-space: initial;
        }

        .tabs ul li label br {
            display: initial;
        }

        .tabs ul li label svg {
            height: 1.5em;
        }
    }

    @media (max-width: 600px) {
        .tabs ul li label {
            padding: 5px;
            border-radius: 5px;
        }

        .tabs ul li label span {
            display: none;
        }

        .tabs .slider {
            display: none;
        }

        .tabs .content {
            margin-top: 20px;
        }

        .tabs .content section h2 {
            display: block;
        }
    }
</style>
<section class="dash2">
    <div class="content-wrapper general-bg">
        <div class="row">
            <div class="col-md-12">
                <div class="tabs">
                    <input type="radio" id="tab1" name="tab-control" checked>
                    <input type="radio" id="tab2" name="tab-control">
                    <input type="radio" id="tab3" name="tab-control">
                    <input type="radio" id="tab4" name="tab-control">
                    <ul>
                        <li title="Features">
                            <label for="tab1" role="button">
                                <i class="las la-user-check"></i>
                                <br>
                                <span>Personal Information</span>
                            </label>
                        </li>

                        <li title="Delivery Contents">
                            <label for="tab2" role="button">
                                <i class="las la-user-graduate"></i>
                                <br>
                                <span>Academic Qualifications</span>
                            </label>
                        </li>
                        <li title="Shipping">
                            <label for="tab3" role="button">
                                <i class="las la-briefcase"></i>
                                <br>
                                <span>Work Experience</span>
                            </label></li>
                        <li title="Returns">
                            <label for="tab4" role="button">
                                <i class="las la-award"></i>
                                <br>
                                <span>Professional Courses</span>
                            </label>
                        </li>
                        <li title="Delivery Contents">
                            <label for="tab2" role="button">
                                <i class="las la-user-graduate"></i>
                                <br>Professional Memberships</span>
                            </label>
                        </li>
                        <li title="Shipping">
                            <label for="tab3" role="button">
                                <i class="las la-briefcase"></i>
                                <br>
                                <span>Hobbies</span>
                            </label></li>
                        <li title="Returns">
                            <label for="tab4" role="button">
                                <i class="las la-award"></i>
                                <br>
                                <span>Referees</span>
                            </label>
                        </li>
                    </ul>

                    <div class="slider">
                        <div class="indicator"></div>
                    </div>
                    <div class="content">
                        <section>
                            <h2>Features</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorem sequi,
                            quo
                            tempore in eum obcaecati atque quibusdam officiis est dolorum minima deleniti ratione
                            molestias
                            numquam. Voluptas voluptates quibusdam cum?
                        </section>
                        <section>
                            <h2>Delivery Contents</h2>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium
                            eius ut
                            voluptatibus ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit amet,
                            similique nulla.
                        </section>
                        <section>
                            <h2>Shipping</h2>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nemo ducimus eius, magnam
                            error
                            quisquam sunt voluptate labore, excepturi numquam! Alias libero optio sed harum debitis!
                            Veniam,
                            quia in eum.
                        </section>
                        <section>
                            <h2>Returns</h2>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dicta vero rerum? Eaque
                            repudiandae
                            architecto libero reprehenderit aliquam magnam ratione quidem? Nobis doloribus molestiae
                            enim
                            deserunt necessitatibus eaque quidem incidunt.
                        </section>
                        <div class="buttons">
                            <button id="prevBtn">Prev</button>
                            <button id="nextBtn">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const nextBtn = document.getElementById("nextBtn");
    const prevBtn = document.getElementById("prevBtn");
    const tabs = document.querySelectorAll(".tabs > input");
    let currentTab = 0;

    nextBtn.addEventListener("click", function () {
        currentTab++;
        if (currentTab >= tabs.length) currentTab = 0;
        tabs[currentTab].checked = true;
    });

    prevBtn.addEventListener("click", function () {
        currentTab--;
        if (currentTab < 0) currentTab = tabs.length - 1;
        tabs[currentTab].checked = true;
    });
</script>
{% endblock %}