{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="activate bg-white min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="introduce my-5">
                    <h2 class="text-center">Activate Your Account</h2>
                    <p class="text-center">Enter your email and the secret code sent to your email to activate your
                        account </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'alerts.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="activateForm">
                    <form action="{% url 'verify' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label class="form-label">Your Email</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Secret Code</label>
                            <input type="text" class="form-control" name="secret" required>
                        </div>
                        <button type="submit" class="button-88 w-100">Activate Account <i
                                class="las la-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>

{% endblock %}