@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Hind:wght@300&family=Titillium+Web:wght@200&display=swap');

:root {
    --first-color: #144a85;
    --first-color-light: #6c8aaf;
    --green-color: #25CC88;
    --red-color: #e51e25;
    --sand-tan: #e1b382;
    --dark-color: #444a4a;
    --olive: #A3BCB6;
    --white-color: #F7F6FB;
    --primary-font: 'Gelasio', serif;
    --normal-font: 'Titillium Web', sans-serif;
    --third-font: 'Hind', sans-serif;
    --shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(119, 117, 117, 0.2), 0 1px 5px 0 rgba(128, 125, 125, 0.12);

}

@media screen and (max-width: 425px) {
    #pr {
        margin-bottom: 1rem;
    }

    #formContainer {
        margin-top: 1rem;
    }
}

/* btns */
.dropBtn {
    background-color: var(--first-color);
    font-family: var(--body-font);
    border: 1px solid var(--first-color);
    color: var(--white-color)
}

.dropBtn:hover {
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    color: var(--white-color)
}

.normBtn {
    background-color: var(--green-color);
    font-family: var(--body-font);
    border: 1px solid var(--green-color);
    color: var(--white-color)
}

.normBtn:hover {
    background-color: var(--sand-tan);
    border: 1px solid var(--sand-tan);
    color: var(--dark-color)
}

.dash1 {
    background: var(--green-color);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 6px;
    box-shadow: var(--shadow);
}

/* end */

#res_card {
    margin: 2rem;
    max-width: 1000px;
    box-shadow: var(--shadow);
}

@media screen and (max-width:1400px) {
    #res_card {
        margin: 2rem;
        max-width: 920px;
        box-shadow: var(--shadow);
    }
}

.card_exp {
    margin: 2rem;
    max-width: auto;
    box-shadow: var(--shadow);
}

.table {
    background: whitesmoke;
    border: 1px solid white;
    width: 100%;
    border-collapse: collapse;
}

thead,
tr {
    width: 100%;
    font-family: var(--primary-font);
}

th {
    color: white;
    text-shadow: 0 1px 0 var(--first-color);
    font-weight: bold;
}

#tops {
    background: var(--first-color)
}

.page-item.active .page-link {
    background-color: var(--olive) !important;
    border: 1px solid var(--olive);
    color: white;
}

.page-link {
    color: var(--dark-color) !important;
}

.modal-header {
    background: var(--first-color);
    color: white;
}

#rap {
    word-wrap: break-word;
    word-break: break-all;
}

td {
    font-family: var(--third-font);
}

.brs {
    color: #e1b382;
}

div.dataTables_filter input {
    border-color: var(--first-color);
    display: none;
}

@media screen and (max-width:375px) {
    div.dataTables_filter input {
        border-color: var(--first-color);
    }
}

@media screen and (max-width:425px) {
    #dt-sm {
        margin-top: 10px;
    }
}

#dt-card {
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#dt-card .detail {
    background: var(--green-color);
    padding: 1rem;
    color: #fff;
    font-family: var(--third-font);
}

.dt-txt p {
    font-weight: bold;
    font-family: var(--normal-font);
    color: #000;
}

@media screen and (max-width:768px) {
    #long {
        min-width: 310px;
    }
}

.d-card a {
    text-decoration: none;
    font-family: var(--normal-font);
    color: red;
}

.d-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
}

.d-card a:hover {
    color: blue;
}

.d-card p {
    color: white;
}

.d-cards {
    background: transparent;
    border: none;
}

.data-card {
    background: whitesmoke;
    box-shadow: rgba(248, 248, 248, 0.25) 0px 30px 60px -12px inset, rgba(236, 234, 234, 0.3) 0px 18px 36px -18px inset;
}

.data-card .d-icons {
    background: yellow;
    padding: .5rem;
}

.data-card i {
    color: red;
    font-size: 1.7rem;
}

/* Loader */
/* Center the loader */
#loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #ce4233;
    letter-spacing: 0.2em;
}

#loader::before,
#loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ce4233;
    position: absolute;
    -webkit-animation: load 0.7s infinite alternate ease-in-out;
    animation: load 0.7s infinite alternate ease-in-out;
}

#loader::before {
    top: 0;
}

#loader::after {
    bottom: 0;
}

@-webkit-keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 40px;
    }

    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}

@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 40px;
    }

    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}