{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<section>
    <div class="content-wrapper general-bg" style="padding-bottom: 1rem;">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold ml-3"> Job Openings </h2>
                    <button class="btn btn-success align-items-center p-3"
                        style="margin-left: auto;margin-right:0;outline: none;border: none;">{{today}}</button>
                </span>

            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#home" class="nav-link active" data-bs-toggle="tab"> Open Vacancies
                                    ({{count}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#profile" class="nav-link" data-bs-toggle="tab">Submitted Job Applications
                                    ({{counter}})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th>Job Description</th>
                                                <th>Positions</th>
                                                <th>Appointment Type</th>
                                                <th>Priority</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in res %}
                                            <tr>
                                                <td id="rap">{{res.Description}}</td>
                                                <td>{{res.Positions}}</td>
                                                <td>{{res.Appointment_Type}}</td>
                                                <td>{{res.Priority}}</td>
                                                <td>
                                                    <a type="button" href="{% url 'jobDetail' res.Job_ID res.No_ %}"
                                                        class="btn btn-success btn-icon-text" data-toggle="tooltip"
                                                        data-placement="top" title="view"
                                                        style="background: #25CC88;">View
                                                        <i class="las la-external-link-alt" style="font-size: 1rem"></i>
                                                    </a>
                                                </td>

                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th>Job</th>
                                                <th>Submitted</th>
                                                <th>Qualified</th>
                                                <th>Shortlisted</th>
                                                <th>Cancel Application</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in sub %}
                                            <tr>
                                                <td>{{res.Job}}</td>
                                                <td>{{res.Submitted}}</td>
                                                <td>{{res.Qualified}}</td>
                                                <td>{{res.Shortlist}}</td>
                                                <td>
                                                    <form action="{% url 'FnWithdrawJobApplication' %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="needCode" value="{{res.Need_Code}}">
                                                        <button type="submit"> <i class="las la-trash"
                                                                style="font-size: 1.5rem;"></i> </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}